# Exemplo de variáveis de ambiente para Supabase
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_TABLE=medicoes

# Configuração de envio de email
SMTP_SERVER=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
FROM_ADDRESS=
USE_TLS=True

# API Key para acesso remoto (opcional)
API_KEY=
